{% extends "base.html" %}
{% load poll_extras %}
{% load static from staticfiles%}<!DOCTYPE html>

{% block content %}





    <script type="text/javascript">
    $( document ).ready(function() {
$('#form').on('submit', function (event) {
    event.preventDefault();
        var frm = $('#form');

        $.ajax({
            url: "/contact/",
            type: "POST",

            data: frm.serialize(),
            beforeSend: function () {
               $('#form').html('<div id="json-form"><img id="imgcode" src="/static/loader/1.gif"></div>');
            },
            success: function(json) {
            $('#form').html('<div id="json-form">'+json.message+'</div>');
                console.log("success");
    },
        });
    });
    });
</script>


<div id="all">
<div id="content">
<div class="container">

    <div class="col-sm-9" id="blog-listing">


    <div class="box">

    <h1>{{ contact.title }}</h1>
        {{ contact.text|safe }}


    <hr>
    <h1>Свяжитесь с нами</h1>
<div class="row" id="contact-row">
        <form action="/contact/" id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-sm-12 text-center">
            <button id="contact-btn" type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i>Отправить</button>

                </div>
            </form>
    </div>
    </div>


                </div>
<!-- /.col-md-9 -->

                <!-- *** LEFT COLUMN END *** -->


                <div class="vk">
                    <!-- *** BLOG MENU ***
 _________________________________________________________ -->






                            <script type="text/javascript" src="//vk.com/js/api/openapi.js?127"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 4, wide: 1, width: "220", height: "400", color1: 'FFFFFF', color2: '000000', color3: '5E81A8'}, 64599889);
</script>



                    <!-- /.col-md-3 -->
</div></div></div>

{% endblock %}