{% extends "base.html" %}
{% load poll_extras %}
{% load static from staticfiles%}<!DOCTYPE html>

{% block content %}
<div id="all">
<div id="content">
<div class="container">

    <div class="col-sm-9" id="blog-listing">

 <div class="box">

                        <h2>Спасибо за заказ!</h2>
                <p>Заказ успешно передан нашим менеджерам. Скоро с вами свяжемся ;)</p>
                                        <a href="/" class="btn btn-default"><i class="fa fa-chevron-left"></i> Вернуться на главную</a>
                    </div>



                </div>
<!-- /.col-md-9 -->

                <!-- *** LEFT COLUMN END *** -->


                <div class="vk">
                    <!-- *** BLOG MENU ***
 _________________________________________________________ -->






                            <script type="text/javascript" src="//vk.com/js/api/openapi.js?127"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 4, wide: 1, width: "220", height: "400", color1: 'FFFFFF', color2: '000000', color3: '5E81A8'}, 64599889);
</script>



                    <!-- /.col-md-3 -->
</div></div></div>

{% endblock %}